*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: grey;
  font-family: sans-serif;
  font-size: 10px;
}
.arrow-left {
  background-color: black;
  padding: 0;
  margin: 0;
}
.location {
  background-color: lightgrey;
}
.block {
  display: inline-block;
  width: 100%;
}
.arrow {
  display: inline-block;
  width: 50%;
}

.container {
  margin: 0 auto;
  width: 420px;
}
nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
}
h1 {
  font-size: 225%;
  font-weight: bold;
}
h3 {
  font-size: 150%;
  font-weight: normal;
}
.box1 {
  background-color:lightgrey;
  border: 1px solid:black;
  width: 450px;
}
